body,html {  
        background-color: bisque;
        background-size: cover; 
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
}
    

.headingtext { 
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border:  3px solid black;

}

.footer-item { 
         color: black;
         text-decoration: none;
         padding-left: 20px;
         padding-right: 20px; 
}

.footer-color {
        background-color: rgb(252, 217, 173);
        padding-top: 30px;
        padding-bottom: 30px;
}
